[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
"bs4" = "*"
wtforms = "*"
flask-sqlalchemy = "*"
cymysql = "*"
vispy = "*"
numpy = "*"
"pyqt5" = "*"
flask-script = "*"
flask-login = "*"
flask-moment = "*"
pygal = "*"
flask-migrate = "*"
flask-mail = "*"
flask-wtf = "*"
flask-pagedown = "*"
markdown = "*"
bleach = "*"
bootstrap-flask = "*"

[dev-packages]

[requires]
python_version = "3.6"
